.header{
  color:$color-blue;
  height:45px;
  background: pink;
  color:$color-white;
  text-align: center;
  line-height: 45px;  
  .pay{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size:cover;
    bg-image('./img/active');
  }
}