.footer{
  position: fixed;
  bottom:0;
  height: 45px;
  width:100%;
  box-shadow: 0px 1px 14px #ccc;
  ul{
    display: flex;
    li{
      flex: 1;
      text-align: center;
      line-height: 45px;
    }
    .active{
      color:$color-theme;  
    }
  }  
}